<!DOCTYPE html>
<html>
<head>
    <title>Sortable Table using Polymer Web Components</title>
    <script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="../bower_components/sortable-table/datatables-ajax.html">
    <link rel="import" href="../bower_components/sortable-table/examples/json-stringify.html">
    <link rel="import" href="../bower_components/sortable-table/examples/project-docs.html">
    <link rel="import" href="../bower_components/sortable-table/sortable-table.html">
    <link rel="import" href="../bower_components/sortable-table/examples/serverside/column-filters.html">
</head>
<body unresolved is="project-docs">


<template is="auto-binding">
    <sortable-table
            class="datatables default"
            footerTemplate="defaultPager"
            filterTemplate="fullFilters"
            pageSize="10"
            loading="{{loading}}"
            >
        <sortable-column name="first_name">First</sortable-column>
        <sortable-column name="last_name">Last</sortable-column>
        <sortable-column name="position">Position</sortable-column>
        <sortable-column name="office">Office</sortable-column>
        <sortable-column name="start_date" formula="function(v){ return (new Date(v * 1000)).toString().substring(4,15); }">Start Date</sortable-column>
        <sortable-column name="salary" formula="function(v){ return '$' + v; }">Salary</sortable-column>

        <datatables-ajax role="datasource" url="../logpolydata"></datatables-ajax>
    </sortable-table>

    <p>

        Data is loading = {{loading}}
</template>


</body>
</html>