
.container {
    width: 1650px;
}

.line {
    width: 40px;
    text-align: center;
    border: solid 1px gray;

}
#logtable.hide2 tr > *:nth-child(2) {
    display: none;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#logrow, #content, #aSide { display: table-cell; }
#logrow { width: 20%; border: 2px solid red;}
body { display: table; table-layout: fixed;}

.table{
    display:table;
}
.heading{
    display:table-row;
    text-align:center ;
    font-weight: bold;
    color:white;
    background-color: #233d6d;
}
.row{
    display: table-row;
    padding:0;
    margin:0;
}
.hideCol{
    display:none;
}
.multiEngineClass{
    color:red;
    font-weight:bold;
    display:none;

}
.foo{color:red}
.cell,.celledit,.headcell
{

    display: table-cell;
    border: solid;
    border-color: green;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;

    margin:0;
}
.celledithide{
    display:none;
}
.headcell{
   /* -ms-transform: rotate(90deg); /* IE 9 */
   /* -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   /* transform: rotate(90deg);*/
}

th, td{
    padding: 0px;
    margin : 0
    text-align: center;
    width:1em;
}
input {
    padding: 0px;
    margin:0px;
    text-align: center;
    width: 5em;
    border:solid blue 1px;
}


table  tr:nth-child(even){
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: black;
    color: white;
    border-color: #ffffff;
}

.even {
    background-color: white;
}

.odd {
    background-color: lightgray;
}